<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>Page Title</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>
<body>
  <nav class="navbar">
    <ul class="nav-links">
      <div class="menu">
        <div class="dropdown">
        <li><a class="dropbtn" href="views/index.html">Analytics</a></li>
        <div class="dropdown-content">
        </div>
        </div>
        <li><a class="dropbtn">Vote</a></li>
      </div>
    </ul>
  </nav>
   <p>Voting ...</p>

</body>
</html>